$color-bg: #555;
$color-primary: #ddd;
$color-secondary: #888;

$max-height: 50vh;

@mixin hover() {
  &:hover {
    background-color: darken($color-bg, 10);
    cursor: pointer;
  }
}

 @mixin breakpoint($point) {
  @if $point == mobile {
     @media (max-width: 37.5em) { @content ; }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}