@import './variables';

body {
  background-color: $color-bg;
  color: $color-primary;
  font-family: 'Arial';
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.queue-app {
  display: flex;
  width: 80%;
  margin: 10% auto;

  @include breakpoint(mobile) {
    flex-flow: column nowrap;
  }

  .search {
    width: 30%;
    background: darken($color-bg, 10);

    @include breakpoint(mobile) {
      order: 1;
      width: 100%;
      margin-top: 15px;
    }

    > input {
      width: 100%;
      border: none;
      outline: none;
      line-height: 20px;
      padding: 10px 15px;
      box-sizing: border-box;
      border-radius: 4px 0 0 0;

      @include breakpoint(mobile) {
        border-radius: 4px 4px 0 0;
      }
    }

    ul.search-results {
      height: $max-height;
      overflow: auto;

      @include breakpoint(mobile) {
        height: auto;
      }

      li {
        display: flex;
        flex-flow: row nowrap;
        border-bottom: 1px solid darken($color-bg, 12);
        padding: 5px;

        .cover-image {
          width: 50%;
          overflow: hidden;
          @include aspect-ratio(1, 1);

          img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
          }
        }

        .track-details {
          width: 50%;
          padding: 0px 10px;
          box-sizing: border-box;
          font-size: 14px;

          .artist {
            opacity: 0.7;
          }
        }

        &:hover {
          cursor: pointer;
          background: lighten($color-bg, 1);

          .cover-image img {
            transform: translate(-50%, -50%) scale(1.05);
          }
        }
      }
    }
  }
  
  .list {
    margin-left: 10px;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include breakpoint(mobile) {
      width: 100%;
      margin-left: 0px;
    }

    ul {
      height: $max-height;
      overflow: auto;

      li {
        line-height: 1.5em;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        box-sizing: border-box;

        .votes {
          display: flex;

          > * {
            margin-left: 5px;
            padding: 0px 5px;
            font-size: 14px;

            @include hover;
          }

          .counter {
            background: transparent;
            cursor: default;
            min-width: 20px;
            text-align: right;
          }
        }

        &:first-child {
          height: 40px;
          line-height: 31px;
          background-color: darken($color-bg, 10);
          border-radius: 0 4px 0 0;

          @include breakpoint(mobile) {
            border-radius: 4px 4px 0 0;
          }
        }
      }
    }

    .play-controls {
      width: 150px;
      padding: 30px 5px 0px 5px;
      display: flex;
      justify-content: space-between;

      @include breakpoint(mobile) {
        width: auto;
        padding: 5px;
        border-bottom: 1px solid darken($color-bg, 10);
      }

      > * {
        padding: 3px 5px;
        @include hover;
      }

      &.disabled {
        > * {
          opacity: 0.2;
          cursor: default;
          background: transparent;
        }
      }
    }
  }
}